@media screen and (max-width:768px){
    /* 導覽列 */
    .main-nav-bar img{
        width: 30%;
    }
    .main-nav-bar-links{
        /* display: block; */
        position: absolute;
        width: 80%;
        height: 80vh;
        top:60%;
        left: 0%;
        background-color: #cc9966;
        padding: 20px 0px;
        text-align: center;
    }
    .main-nav-bar-links a{
        display: block;
        font-size: 18px;
        font-weight: normal;
        padding-top: 20px;
    }
    .hb{
        width: 40px;
        height: 40px;
        background-color: #000;
        position:relative;
        margin:0px 5px 0px 0px;
        border-radius: 5px;
        cursor: pointer;
    }
    .hb span{
        width: 32px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    .hb span:first-child{
        top: 10px;
    }
    .hb span:last-child{
        bottom: 10px;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
    }
    .main-nav-bar-links .hidehb{
        left: 80%;
    }
    .search{
      display: none;  
    }
    .member{
        font-size: 18px;
        width: 120px;
    }
    /* KV */
    .welcome{
       line-height: 35px;
       text-indent: -3em;
       font-size: 18px;
       top:65%;
       left:60%;
    }  
    .right-btn{
        display: none;
    }
    /* 新品介紹 */
    .new-items{
        width:100%;
    } 
    .new-item-title h2{
        text-align: center;
    }
    .new-product{
        flex-wrap: wrap;
    }
    .describe{
        width:100%;
        text-align: center;
    }
    .model{
        width: 100%; 
    }
    .model img {
        width: 100%;
    }
    .describe-link h3{
        width: 100px;
        top:100%;
        left:0;
        right:0;
        margin: auto;
    }
    .second-price .sale{
        font-size: 20px;
    }
    }
    @media screen and (min-width:769px) and (max-width:1024px){
    /* KV*/
    .welcome{
       line-height: 50px;
       text-indent: -3em;
       font-size: 30px;
       top:25%;
       left:10%;
    }
    /* 新品介紹 */
    .new-items{
        width:100%
    } 
    .new-item-title h2{
        text-align: center;
    } 
    .main-nav-bar-links{
        display: flex;
        flex-grow: 1;
        margin-top: 10px;
    } 
    .second-price .sale{
        font-size: 18px;
    } 
    .hb{
        display: none;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px){
    /* KV*/
    .welcome{
       line-height: 50px;
       text-indent: -3em;
       font-size: 30px;
       top:25%;
       left:10%;
    }   
    /* 新品介紹 */
    .new-items{
        width:100%
    }
    .main-nav-bar-links{
        display: flex;
        flex-grow: 1;
        margin-top: 10px;
    } 
    .new-item-title h2{
        text-align: center;
    }  
    .hb{
        display: none;
    }
}   